.container {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 50%;
  height: 100vh;
}

.imageArea {
  margin: 3rem auto;
  width: 80%;
  height: 80%;
  object-fit: contain; /* 画像のアスペクト比を保持しつつ、コンテナにフィットさせる */
}

.right {
  width: 50%;
  height: 100vh;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin: auto;
  padding: 10px 20px;
  height: 4rem;
}

.button:hover {
  opacity: 0.8;
}

.answer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  margin: auto;
  height: 80%;
  width: 40%;
}

.answerItem {
  font-size: 2rem;
  list-style: none;
  margin: auto;
  margin: 1rem;
}

.link {
  color: blue;
}